## Write a Python program to print the NumPy version in your system

In [2]:
import numpy as np
print("NumPy version is %s "%np.version.version)

NumPy version is 1.15.0

## Write a Python program to convert a list of numeric value into a one-dimensional NumPy array.

In [17]:
ip_1 = input("Enter numeric values, comma separated: ")
ip_2 = ip_1.split(',')
ip_3 = list(map(float, ip_2))
arr = np.zeros((len(ip_3)))
for index, i in enumerate(ip_3):
    arr[index] = i
print(arr)

Enter numeric values, comma separated: 3,4,5,6,7
[3. 4. 5. 6. 7.]

## Create a 3x3 matrix with values ranging from 2 to 10

In [18]:
arr = np.arange(2,11).reshape(3,3)
print(arr)

[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

## Write a Python program to create a null vector of size 10 and update sixth value to 11

In [61]:
arr = np.empty(10)
arr[5] = 11
np.set_printoptions(suppress=True)
arr

array([ 0.,  0.,  0.,  0.,  0., 11.,  0.,  0.,  0.,  0.])

## Write a Python program to create a array with values ranging from 12 to 38

In [24]:
arr = np.arange(12,38).reshape(2,13)
arr

array([[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]])

## Write a Python program to reverse an array (first element becomes last).

In [36]:
import numpy as np
ip_1 = input("Enter numeric values, comma separated: ")
ip_2 = ip_1.split(',')
ip_3 = list(map(float, ip_2))
ip_4 = np.array(ip_3)
print('Original array:')
print(ip_4)
print('\n')
arr1_rev = np.empty(ip_4.shape)
for index, i in enumerate(ip_4):
    index+=1
    arr1_rev[-index] = i
print("Reversed array:")
print(arr1_rev)

Enter numeric values, comma separated: 2,3,4,5,6
Original array:
[2. 3. 4. 5. 6.]


Reversed array:
[6. 5. 4. 3. 2.]

## Write a Python program to an array converted to a float type.

In [13]:
arr = np.array([[1.2,2.3,2.4],[4.5,.5,.6]])
print('Array in float values')
print(arr)
print('\n')
print('Array in integer values',)
print(arr.astype(int))

Array in float values
[[1.2 2.3 2.4]
 [4.5 0.5 0.6]]


Array in integer values
[[1 2 2]
 [4 0 0]]

## Write a Python program to create a 2d array with 1 on the border and 0 inside

In [33]:
arr3 = np.zeros((6,6))
print("Original array: ")
print(arr3)
arr3[0] = np.ones(arr3.shape[1])
arr3[-1] = np.ones(arr3.shape[1])
i = 1
while i < (arr3.shape[1]-1):
    arr3[i][0] = 1
    arr3[i][-1] = 1
    i += 1
print('\n')
print("Array after applying boarde: ")
print(arr3)

Original array:
[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]


Array after applying boarde:
[[1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1.]]

## Write a Python program to add a border (filled with 0's) around an existing array

In [76]:
arr4 = np.arange(1,10).reshape((3,3))
print("Original array: ")
print(arr4, end='\n\n')
arr5 = np.pad(arr4, pad_width=1, mode='constant', constant_values=0)
print("Broadcasting of arra:")
print(arr5)

Original array:
[[1 2 3]
 [4 5 6]
 [7 8 9]]

Broadcasting of arra:
[[0 0 0 0 0]
 [0 1 2 3 0]
 [0 4 5 6 0]
 [0 7 8 9 0]
 [0 0 0 0 0]]

## Write a Python program to create a 8x8 matrix and fill it with a checkerboard pattern

In [4]:
p = int(input("Enter the square order of matrix: "))
arr = np.ones((p,p), dtype='int32')

arr[::2,::2] = 0
arr[1::2,1::2] = 0
print("Checkerboard pattern: ")
print(arr)

Enter the square order of matrix: 8
Checkerboard pattern:
[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

## Write a Python program to convert a list and tuple into arrays.

In [86]:
a = [1,2,3,4]
print("List is ", end="")
print(a)

a = np.asarray(a)
print("List to array is ", end="")
print(a)

b = ((1,2,3,4),(5,6,7,8))
print("Tuple is ", end="")
print(b)
b = np.asarray(b)
print("Tuple to array is ", end="")
print(b)

List is [1, 2, 3, 4]
List to array is [1 2 3 4]
Tuple is ((1, 2, 3, 4), (5, 6, 7, 8))
Tuple to array is [[1 2 3 4]
 [5 6 7 8]]

## Write a Python program to append values to the end of an array.

In [93]:
arr2 = np.arange(9).reshape(3,3)
print("Original array is ", end="")

print(arr2)
np.append(arr2,[[9,10,11]], axis=0)

Original array is [[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

## Write a Python program to create an empty and a full array

In [108]:
arr = np.empty((4,4))
np.set_printoptions(suppress=True)
print("Empty array is ")
print(arr, end='\n\n')
arr2 = np.full((3,3),10)
print("Full array is ")
print(arr2)

Empty array is
[[ 0.00000000e+000  0.00000000e+000  0.00000000e+000  0.00000000e+000]
 [ 0.00000000e+000  0.00000000e+000  0.00000000e+000  4.44659081e-322]
 [-2.68156159e+154 -2.00390401e+000 -2.68156159e+154 -2.32036231e+077]
 [ 1.97626258e-323  0.00000000e+000  0.00000000e+000  0.00000000e+000]]

Full array is
[[10 10 10]
 [10 10 10]
 [10 10 10]]

## Write a Python program to convert the values of Centigrade degrees into Fahrenheit degrees. Centigrade values are stored into a NumPy array

In [116]:
arr = np.array([[10,11.2,5.6],[5.4,78.6,45.67],[45.6,76.4,-56.7]])
print("Temperatures is degress is: ")
print(arr, end='\n\n')
fahre = arr*(9/5) + 32
print("Equivalent temperatures if Fahrenhite is: ")
print(fahre)

Temperatures is degress is:
[[ 10.    11.2    5.6 ]
 [  5.4   78.6   45.67]
 [ 45.6   76.4  -56.7 ]]

Equivalent temperatures if Fahrenhite is:
[[ 50.     52.16   42.08 ]
 [ 41.72  173.48  114.206]
 [114.08  169.52  -70.06 ]]

## Write a Python program to find the real and imaginary parts of an array of complex numbers.

In [130]:
a = np.array([[1+2j, 3+4j, 5+6j],[3.4+4.4j,6.5+5.23j,90.5-3.45j]])
print("Imaginary matrix is:")
print(a, end='\n\n')

print("Real part is")
print(a.real,end='\n\n')

print("Imaginary part is")
print(a.imag,end='\n\n')

Imaginary matrix is:
[[ 1. +2.j    3. +4.j    5. +6.j  ]
 [ 3.4+4.4j   6.5+5.23j 90.5-3.45j]]

Real part is
[[ 1.   3.   5. ]
 [ 3.4  6.5 90.5]]

Imaginary part is
[[ 2.    4.    6.  ]
 [ 4.4   5.23 -3.45]]

## Write a Python program to find common values between two arrays

In [137]:
a = np.array([[9,5,6],[4,2,3],[6,3,4]])
b = np.array([[-2,3,4],[4,3,2],[8,7,5],[9,3,4]])
np.intersect1d(a,b)

array([2, 3, 4, 5, 9])

## Write a Python program to find the union of two arrays. Union will return the unique, sorted array of values that are in either of the two input arrays.

In [5]:
a = np.array([[9,5,6],[4,2,3],[6,3,4]])
b = np.array([[-2,3,4],[4,3,2],[8,7,5],[9,3,4]])
np.union1d(a,b)

array([-2,  2,  3,  4,  5,  6,  7,  8,  9])

## Write a Python program to find the set exclusive-or of two arrays. Set exclusive-or will return the sorted, unique values that are in only one (not both) of the input arrays.

In [6]:
a = np.array([[9,5,6],[4,2,3],[6,3,4]])
b = np.array([[-2,3,4],[4,3,2],[8,7,5],[9,3,4]])
np.setxor1d(a,b)

array([-2,  6,  7,  8])

## Write a Python program to create an array with 10^3 elements

In [32]:
arr = np.random.randint(0,1000, size=1000)
arr

array([ 16, 936, 216, 516, 861, 282, 785,  93, 263, 251, 639,  41, 896,
       210, 277,  36, 477, 413, 272, 102, 786,   9, 416, 808, 661, 927,
       828, 174, 808, 410, 488, 104,  47, 644, 691, 736, 328, 997,  75,
       432, 418, 818, 360, 996, 460, 371, 388, 100, 886, 820, 161, 770,
       935, 923, 997, 779, 434, 549, 335, 483, 199, 863, 454, 628, 337,
       287, 721, 167, 204, 176, 288,  72, 345, 950, 279, 420, 439, 689,
       816, 260, 393, 292, 433, 306, 368, 607, 222, 624, 765, 273, 659,
       469, 567, 712, 478, 610,  44, 410, 549,  31, 732,  49, 742,  36,
       433, 404, 876, 768, 729, 192, 718, 486, 624, 431, 249,  46, 602,
       651, 458, 649, 220, 596, 677, 486, 339, 286,  19, 997, 827, 418,
       476, 823,  72, 137, 911, 731, 930, 258, 415, 344, 987, 554, 706,
       480, 624, 974, 267,  66,  11, 987, 341, 221, 913, 151, 189, 552,
       877, 694, 866, 144, 980,  82, 932, 879, 595, 773, 792, 921, 269,
       568, 492, 899, 389, 271, 416, 673, 208, 274, 230, 747, 780, 987,
       903, 668, 180, 521, 554, 202, 962, 293,  97, 308, 381, 630, 328,
       104, 994, 995, 449, 472, 135, 322, 415, 753, 872, 949, 428, 490,
       929, 746, 527, 123,  27, 161, 320, 908,  56, 666, 346, 164, 549,
       961, 819, 120,  90, 949,  92, 440, 896, 846, 952, 830, 413,  92,
       715, 357, 546, 593, 166, 840, 378, 613, 174, 417, 464, 206, 266,
       684, 584, 731, 739, 989, 295, 194, 458, 816, 180, 951, 933, 993,
       906, 722, 760, 511,  33, 724, 687, 658, 318, 622,  29, 857, 508,
       750, 777,  26, 729, 477, 754, 510, 202, 308, 809, 660, 652, 563,
       259, 219, 479, 698,  46, 315, 566, 416, 370, 497, 287, 589, 270,
       714, 727, 661, 343, 272, 647, 585, 590, 956,  36, 355, 773, 636,
       264, 362,  59, 175, 751, 480,  12, 984,  35, 278, 657, 790, 257,
       117, 198, 142, 868, 579,  20, 922, 408, 498, 601, 479, 208, 294,
       453, 196, 197, 638, 311, 202, 536, 698, 657, 895, 546, 936, 186,
       992, 984, 805, 378, 973, 764, 717, 418, 219, 371, 126, 545, 980,
       614, 695, 765, 593, 552, 616, 609, 271, 138, 943, 693, 256, 941,
       780, 579,  45,  20, 447, 695, 198, 932, 648, 386, 343, 702, 695,
       660, 994,  54, 886,  26, 508, 944, 459, 196, 642, 878, 943, 746,
       493, 826, 759, 705, 790, 356, 192, 566, 536, 835, 523, 705,  92,
       478, 161, 170, 942, 971, 781, 559, 444, 353, 646, 516, 675,  76,
       446, 379,  84, 138, 158, 304, 826,   9, 321,  24, 828, 997, 263,
       928, 855,  82, 720, 592, 345, 136, 266, 357, 502, 661, 776, 838,
       486, 476, 602, 158, 219, 140,  45, 200,  60,  57, 345, 448, 236,
       219, 327, 877, 214, 656, 414, 371, 175, 190, 511,  59, 753, 929,
       223, 357, 933, 242, 446, 985, 227,  77, 166, 931, 104, 953, 822,
        30, 435,  86, 618, 732, 897, 151, 632, 842, 984, 221, 108, 720,
       661, 316, 489, 208, 524, 295,  44, 420, 803, 512, 712, 237, 112,
       565, 491, 234,  14, 723, 117, 353, 354, 325, 594, 644, 978, 213,
       555, 714, 632,  82, 999, 937, 417, 734, 339, 635, 267, 428, 254,
       528, 113, 329, 898, 169, 259, 603, 574, 419, 566, 863, 137, 954,
       454, 204, 918, 721, 744, 867, 784, 291, 422, 192,  59, 626, 257,
       390, 301, 405, 623, 484, 405, 615, 150, 827, 989, 169,  47, 913,
       501, 388, 690, 709, 104, 648, 672,  94, 385, 657, 669, 506, 297,
       184, 159,  82, 599, 439, 389, 362, 286, 219, 996, 636, 743, 819,
       666, 731, 374, 337, 681, 174, 741, 285, 694, 452, 931, 603, 676,
       450, 475, 757, 665, 864, 843, 927, 885, 901, 384, 249, 363, 421,
       757, 762, 494, 741, 933, 315, 545, 198, 781, 845, 213, 613, 388,
       450,  29, 862, 145, 273, 836, 113, 666, 188, 467, 842, 964, 953,
       593, 822,  49,  52, 548, 531, 436, 205, 807,   8, 848, 424, 119,
       325, 191,   3, 369, 520, 401, 858, 450, 926, 656, 711, 180, 252,
       380, 952, 914, 655, 887, 279, 104, 496, 634, 919,   6, 755, 317,
       833, 637, 926, 748, 436,   1, 590,  22, 230, 638, 752, 242, 529,
       550,  72, 455, 910, 917, 750, 905, 775, 314, 426, 398, 449, 796,
       863, 844, 859, 903, 793, 830, 692,  20, 121, 796, 766, 267, 964,
       947, 225, 471, 441, 986,  84, 601, 425, 188, 582,  90, 802, 148,
       158,  29,  65, 175,   5, 358, 693,  89, 205, 646, 967, 732, 394,
       686, 408, 507, 513,  40, 905, 162, 817, 955, 988,  69, 810,  58,
       815, 852, 803, 246,  41, 566, 133, 272, 308, 763, 122, 838,  23,
       362, 714, 895,  85, 723,  10, 662, 482, 646, 536, 977, 197, 879,
       135, 406, 522, 433,  59, 159, 730, 885, 585,  62, 249, 203, 300,
        72, 813, 965,  65,  99, 550, 191, 806,  79, 690, 500, 212, 355,
       279, 513, 936, 666, 941, 338, 908, 930, 354, 793, 778, 147,  50,
       985, 189, 359, 559, 897, 355, 399, 313, 364, 242, 852,  97, 832,
       430, 503, 699,  47, 720, 786, 300, 360, 929, 416, 370, 243, 485,
       456, 323, 439, 958, 890, 732, 308, 482, 297, 395, 972, 593, 897,
       454, 213, 581, 721, 176, 310,  15, 348,  94, 531,  27, 731, 266,
       608, 120, 544, 521, 772, 884, 962, 723, 101, 394, 545, 769, 933,
       980, 513, 624,  40, 984,  45, 935, 889, 349, 671, 585, 914, 601,
       881, 187, 517, 197, 342, 828, 791, 593, 773, 827, 266, 204, 953,
        48, 262, 633, 503, 719, 456, 643, 599, 110, 430, 264, 572, 522,
       540, 274, 154, 340, 817, 797, 344, 895, 850, 883, 104, 946, 611,
         7, 403, 294, 199, 179, 274, 543,  29, 426, 505, 153, 152, 315,
        30,  81, 904, 909, 166, 413, 485, 886, 339, 494, 455, 600, 240,
       940, 127, 587, 745, 401, 211, 362,  61,  82, 100, 254, 733])